.titleCart{
  color: #252525;
  text-align: center;
  margin: 10px;
}
.cartTable{
    border-spacing: 0;
    border-radius: 5px;
    border: solid 1px #000;  
    width: 95%;
    margin: 15px auto;
    text-align: center;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.532);  
}
  
  .cartTable_Head{
    background-color: #000;
    margin: 8px auto;
  }
  
  .cartTable_Row{
    line-height: 56px;
    color: #000;
  }
  .cartTable_Row td box-icon{
 margin: 7px;
 cursor: pointer;
  }
  .cartList_Detail{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
 .cartList_Total{
    background-color: #000;
    padding: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.532);  
    border-radius: 5px; 
    color: #fff;
    text-align: start;
    line-height: 1em;
    width: 95%;
    display: flex;
    justify-content:space-between ;
    flex-wrap: wrap;
  }
  .cartList_Total h4{
    margin: 0px 30px;
  }
  .box3{
    width: 100%;
    height: 100%;
    padding: 50px 0px 100px 0px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
}
.box3 p{
    font-size: 32px;
    text-align: center;
    color: #000;
}

  @media (max-width:425px){
    .cartTable{
      font-size: 0.8rem;
    }
    .cartTable_Row td, .cartTable_Row th{
      border: 1px solid #4f51526b
    }
    .cartList_Total {
      justify-content: center;
    }
    
  }

  