.nav{
  z-index: 10;
    height: 100%;
    padding: 15px;
    display: flex;
    background-color: #000;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffffff;
  
  }
.logo{
    width: 60px;
}
  .navList{
    display: flex;
    gap: 50px;
    align-items: center;
    list-style: none;
  }

  .navLinks a{
    color: #cbcbcb;
    text-decoration: none;
    transition: all 0.3s ease-in;
  }
  .navLinks a:hover{
    color: #127abb;
  }
  .burger{
    display: none;
  }
@media (max-width:768px){
  .nav{
    top: 0;
    position: sticky;
  }
  .burger{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 33px;
    height: 33px;
    cursor: pointer;
    border: none;
    padding: 0;
  }
  .burger .span{
    background-color: #fff;
    width: 33px;
    height: 3px;
    border-radius:10px;
    transition: all 0.3s linear;
  }
  .burger .span1{
    transform-origin: 1px;
    transform: rotate(45deg);
    transition: all 0.3s linear;
  }
  .burger .span2{
    transform-origin: 1px;
    transform: translateX(20px);
    transition: all 0.3s linear;
    opacity: 0;
  }
  .burger .span3{
    transform-origin: 1px;
    transform: rotate(-45deg);
    transition: all 0.3s linear;
  }
  .mobileMenu{
    display: none;
}
@keyframes edition{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
  .navList{
    position: fixed;
    inset: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    top: 90px;
    animation: edition 0.2s linear;
  }

}
