.containerImg{
height: 100%;
background-position: center;
background-size: cover;
overflow: hidden;
}
.imgPrincipal{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 10px;
}
.containerImgMedia{
    display: none;
}
.titleHome{
    color: #252525;
    text-align: center;
    margin: 10px;
}

 @media (max-width: 768px){
    .containerImg{
        display: none;
    }
    .containerImgMedia{
        height: 100%;
        background-position: center;
        background-size: cover;
        overflow: hidden;
        display: inline;
        margin-bottom: 10px;
    }
    .imgMediaPrincipal{
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

 }